<div class="min-h-screen bg-[url('assets/Images/ruidobg.avif')] bg-center bg-black/95 text-white relative">

  <!-- Contenedor con el fondo -->
  <div class="flex-none h-[705px] left-0 overflow-hidden absolute right-0 top-0 z-0">
    <div class="flex-none h-[1224px] left-[140px] overflow-visible absolute right-[140px] top-[-802px]">
      <div
        class="bg-[rgba(255,255,255,0.5)] rounded-full filter blur-[160px] flex-none h-[596px] left-[calc(50%-282px)] absolute top-[314px] w-[564px] pointer-events-none">
      </div>
    </div>
  </div>
  <!-- Menú de navegación (este es un elemento con z-index alto para asegurarse que sea clickeable) -->
  <nav class="container mx-auto p-4 px-2 flex justify-between items-center relative z-10">
    <div class="flex items-center ">
      <div class="w-20 h-20 rounded-full">
        <img src="../assets/Images/image.png" alt="">
      </div>
    </div>
    <div class="hidden lg:flex  text-white bg-white/10 rounded-full opacity-100 z-10 px-6 py-3 gap-10 justify-around">
      <a href="#" class="px-2 ">About Me</a>
      <a href="#" class="px-2">Projects</a>
      <a href="#" class="px-2">Experiences</a>
      <a href="#" class="px-2">Testimonials</a>
    </div>
    <!-- Div envolvente para asegurar el hover -->
    <button
      class="relative border-[1px] border-white border-solid opacity-100 rounded-[100px] px-6 py-3  hover:bg-red-600 transition-colors duration-700">
      Get in Touch
    </button>
  </nav>
  <!-- Contenido principal -->
  <div class="container mx-auto px-4 py-14 text-center z-50 relative">
    <p class="text-white mb-4">Welcome to</p>
    <h1 class="text-5xl md:text-7xl font-bold mb-4">
      Brayan, Developer
    </h1>
    <h2 class="text-5xl md:text-7xl font-bold mb-8">
      Colombia
    </h2>
    <!-- Botón con hover para el cambio de fondo -->
    <button class="px-8 py-3 bg-red-600 rounded-full hover:bg-red-700 transition-colors z-10">
      Get This Template for Free
    </button>
  </div>
  <!-- Proyectos -->
  <div class="container mx-auto px-4 z-50 relative">
    <div class="carousel-container overflow-hidden py-12">
      <div class="carousel-track flex">
        <!-- Primer set de tarjetas -->
        <div
          class="flex-shrink-0 max-sm:w-[450px] max-sm:h-[450px] w-[500px] h-[500px] mx-4 relative rounded-xl overflow-hidden">
          <img src="../assets/Images/transactimg.png" alt="eCash"
            class="w-full h-full object-right-bottom brightness-100 opacity-85">
          <div class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black/80 to-transparent text-white">
            <h3 class="text-xl font-bold mb-3">Transact - Manage Your Finances</h3>
            <div class="flex gap-2">
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">UI/UX Design</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Responsive Design</span>
            </div>
          </div>
        </div>

        <div
          class="flex-shrink-0 max-sm:w-[450px] max-sm:h-[450px] w-[500px] h-[500px] mx-4 relative rounded-xl overflow-hidden">
          <img src="../assets/Images/ficimg.png" alt="eCash"
            class="w-full h-full object-right-bottom brightness-100 opacity-85">
          <div class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black/80 to-transparent text-white">
            <h3 class="text-xl font-bold mb-3">Fic - Control Of SENA Parafiscal Contributions</h3>
            <div class="flex gap-2">
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Frontend Design</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Backend Creation</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">CI / CD</span>
            </div>
          </div>
        </div>

        <div
          class="flex-shrink-0 max-sm:w-[450px] max-sm:h-[450px] w-[500px] h-[500px] mx-4 relative rounded-xl overflow-hidden">
          <img src="../assets/Images/bbtecareactimg.png" alt="eCash"
            class="w-full h-full object-right-bottom brightness-100 opacity-85">
          <div class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black to-transparent text-white">
            <h3 class="text-xl font-bold mb-3">WebLibrary - Discover Your Favorite Authors</h3>
            <div class="flex gap-2">
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Frontend Design</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Backend Creation</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">CI / CD</span>

            </div>
          </div>
        </div>

        <div
          class="flex-shrink-0 max-sm:w-[450px] max-sm:h-[450px] w-[500px] h-[500px] mx-4 relative rounded-xl overflow-hidden">
          <img src="../assets/Images/urbanouselandingimg.png" alt="eCash"
            class="w-full h-full object-right-bottom brightness-100 opacity-85">
          <div class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black/80 to-transparent text-white">
            <h3 class="text-xl font-bold mb-3">Urbanose - Real Estate Website</h3>
            <div class="flex gap-2">
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Design implementation</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Responsive Design</span>
            </div>
          </div>
        </div>

        <div
          class="flex-shrink-0 max-sm:w-[450px] max-sm:h-[450px] w-[500px] h-[500px] mx-4 relative rounded-xl overflow-hidden">
          <img src="../assets/Images/transactimg.png" alt="eCash"
            class="w-full h-full object-right-bottom brightness-100 opacity-85">
          <div class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black/80 to-transparent text-white">
            <h3 class="text-xl font-bold mb-3">Transact - Manage Your Finances</h3>
            <div class="flex gap-2">
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">UI/UX Design</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Responsive Design</span>
            </div>
          </div>
        </div>

        <div
          class="flex-shrink-0 max-sm:w-[450px] max-sm:h-[450px] w-[500px] h-[500px] mx-4 relative rounded-xl overflow-hidden">
          <img src="../assets/Images/ficimg.png" alt="eCash"
            class="w-full h-full object-right-bottom brightness-100 opacity-85">
          <div class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black/80 to-transparent text-white">
            <h3 class="text-xl font-bold mb-3">Fic - Control Of SENA Parafiscal Contributions</h3>
            <div class="flex gap-2">
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Frontend Design</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Backend Creation</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">CI / CD</span>
            </div>
          </div>
        </div>

        <div
          class="flex-shrink-0 max-sm:w-[450px] max-sm:h-[450px] w-[500px] h-[500px] mx-4 relative rounded-xl overflow-hidden">
          <img src="../assets/Images/bbtecareactimg.png" alt="eCash"
            class="w-full h-full object-right-bottom brightness-100 opacity-85">
          <div class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black to-transparent text-white">
            <h3 class="text-xl font-bold mb-3">WebLibrary - Discover Your Favorite Authors</h3>
            <div class="flex gap-2">
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Frontend Design</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Backend Creation</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">CI / CD</span>

            </div>
          </div>
        </div>

        <div
          class="flex-shrink-0 max-sm:w-[450px] max-sm:h-[450px] w-[500px] h-[500px] mx-4 relative rounded-xl overflow-hidden">
          <img src="../assets/Images/urbanouselandingimg.png" alt="eCash"
            class="w-full h-full object-right-bottom brightness-100 opacity-85">
          <div class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black/80 to-transparent text-white">
            <h3 class="text-xl font-bold mb-3">Urbanose - Real Estate Website</h3>
            <div class="flex gap-2">
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Design implementation</span>
              <span class="px-4 py-1 bg-white/10 rounded-full text-sm">Responsive Design</span>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <!-- Lenguajes -->
  <div class="container mx-auto py-5 px-4 z-50 relative flex flex-col items-center justify-center">
    <span class="text-xl">I have worked with    </span>
    <div class="flex flex-row overflow-x-auto gap-20 pt-10">
      <div class="text-center flex flex-col space-y-1 justify-center items-center">
        <img src="../assets/Images/java.svg" alt="eCash" class="w-16 h-16 text-white hover:text-green-500">
        <span>Java - SpringBoot</span>
      </div>
      <div class="text-center flex flex-col space-y-1 justify-center items-center">
        <img src="../assets/Images/csharp.svg" alt="eCash" class="w-16 h-16 text-white hover:text-green-500">
        <span>C# - .NET</span>

      </div>
      <div class="text-center flex flex-col space-y-1 justify-center items-center" >
        <img src="../assets/Images/nodejs.svg" alt="eCash" class="w-16 h-16 text-white hover:text-green-500">
        <span>Node</span>

      </div>
      <div class="text-center flex flex-col space-y-1 justify-center items-center">
        <img src="../assets/Images/docker.svg" alt="eCash" class="w-16 h-16 text-white hover:text-blue-500">
        <span>Docker</span>

      </div>
      <div class="text-center flex flex-col space-y-1 justify-center items-center">
        <img src="../assets/Images/react.svg" alt="eCash" class="w-16 h-16 text-white hover:text-blue-500">
        <span>React</span>

      </div>
      <div class="text-center flex flex-col space-y-1 justify-center items-center">
        <img src="../assets/Images/angular.svg" alt="eCash" class="w-16 h-16 text-white hover:text-red-500">
        <span>Angular</span>

      </div>
    </div>
  </div>




</div>