<div class=" bg-white w-full  lg:rounded-t-[80px] rounded-t-2xl mt-10 flex flex-col justify-center items-center max-w-[2000px] mx-auto">

    <div
        class="flex flex-wrap md:flex-row z-50 text-black w-full gap-5  justify-between lg:px-32 lg:pt-36 xxl:px-80 p-10">
        <h1 class="text-3xl lg:text-6xl font-bold lg:w-6/12">Enable customers to receive their products with
            professional quality.</h1>
        <h3 class="text-sm lg:text-lg lg:w-5/12">As a software developer, my goal is to help my clients obtain their
            products with the highest professional quality. I specialize in creating custom technology solutions that
            optimize delivery processes and ensure each product meets the highest standards. From initial planning to
            final implementation, I am committed to delivering efficient results tailored to the unique needs of each
            project.
            My focus on quality and precision ensures that customers receive not just a product, but a robust solution,
            designed to improve their business and exceed their expectations in an increasingly competitive market.</h3>
    </div>

    <div class="flex flex-wrap flex-col z-50 w-full gap-5  lg:px-32 xxl:px-80 px-10 lg:py-36 ">
        <h1 class="text-3xl lg:text-6xl font-bold text-black">Skills</h1>
        <div class="mb-14 lg:mt-10 flex w-full flex-row flex-wrap gap-4 xl:gap-5 xl:mb-11 text-black ">

            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Problem Solving
            </button>
            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Attention to Detail
            </button>
            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Adaptability
            </button>
            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Effective Communication
            </button>

            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Time Management
            </button>
            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Critical Thinking
            </button>
            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Team Collaboration
            </button>
            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Continuous Learning
            </button>

            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Empathy in User Design
            </button>
            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Innovation & Creativity
            </button>
            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Decision-Making
            </button>
            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Agile Methodologies
            </button>
            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Client Management
            </button>

            <button
                class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-5  hover:bg-red-200 transition-colors duration-700">
                Negotiation
            </button>
        </div>
    </div>



</div>