<div class=" bg-white w-full  lg:rounded-t-[80px] rounded-t-2xl mt-10 flex flex-col justify-center items-center">

    <div
        class="flex flex-wrap md:flex-row z-50 text-black w-full gap-5 justify-between lg:px-32 lg:pt-36 xl:px-56 p-10">
        <h1 class="text-3xl lg:text-6xl font-bold lg:w-6/12">Enable customers to receive their products with
            professional quality.</h1>
        <h3 class="text-sm lg:text-lg lg:w-5/12">As a software developer, my goal is to help my clients obtain their
            products with the highest professional quality. I specialize in creating custom technology solutions that
            optimize delivery processes and ensure each product meets the highest standards. From initial planning to
            final implementation, I am committed to delivering efficient results tailored to the unique needs of each
            project.
            My focus on quality and precision ensures that customers receive not just a product, but a robust solution,
            designed to improve their business and exceed their expectations in an increasingly competitive market.</h3>
    </div>

    <div class="flex flex-wrap flex-col z-50 w-full gap-5 lg:px-32 xl:px-56 px-10 lg:py-36 ">
        <h1 class="text-3xl lg:text-6xl font-bold text-black">Skills</h1>
        <div class="mb-14 flex w-full flex-row gap-8 md:gap-3 xl:mb-11 xl:gap-1 text-black">
            <div class="relative h-56 overflow-hidden ">
                <ul class="flex flex-col min-w-[200%] justify-around animate-slide-to-left ">
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Node.js
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Java
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        React
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        .NET
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Python
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        C#
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Rails
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Node.js
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Java
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        React
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        .NET
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Python
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        C#
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Rails
                    </li>
                </ul>
            </div>
            <div class="relative h-56 overflow-hidden ">
                <ul class="flex flex-col min-w-[200%] justify-around animate-slide-to-right ">
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Node.js
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Java
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        React
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        .NET
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Python
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        C#
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Rails
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Node.js
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Java
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        React
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        .NET
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Python
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        C#
                    </li>
                    <li class="  font-bold md:text-[1.25rem] md:leading-[4rem] pr-7 md:pr-9">
                        Rails
                    </li>
                </ul>
            </div>
        </div>
    </div>



</div>