<div class="w-full flex justify-center items-center bg-[#f7f7f7] max-w-[2000px] mx-auto">
    <div
        class="flex flex-wrap md:flex-row z-50 text-black w-full gap-5  justify-between lg:px-32 lg:pt-24 xxl:px-80 p-5 sm:p-10 max-sm:justify-center items-center">
        <h1 class="text-3xl lg:text-6xl font-bold lg:w-6/12 max-w-[600px]">Collaboration & Success is the Key</h1>
        <h3 class="text-sm lg:text-lg  max-w-[350px]">The success of the collaboration is my priority on every project I
            worked on..</h3>
        <div
            class="bg-white w-full max-sm:w-96 rounded-3xl shadow-xl mt-4 flex flex-col sm:flex-row gap-10  items-center p-7 xl:p-14 ">
            <div class="w-full xl:max-w-96 rounded-3xl">
                <img src="../../assets/Images/transactimg.png" alt="" class="object-cover rounded-3xl h-96">
            </div>
            <div class="flex flex-col space-y-7 ">
                <div class="sm:space-x-3 flex max-sm:flex-col max-sm:space-y-3 max-sm:justify-center items-center">
                    <button class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-2  ">
                        Ui/Ux Design
                    </button>
                    <button class="border-[1px] border-black border-solid opacity-100 rounded-[100px] p-2 ">
                        Responsive Design
                    </button>
                </div>
                <div class="max-sm:text-3xl text-5xl font-semibold">
                    Lucitics - Sales Analytics Dashboard App
                </div>
                <div class="max-sm:text-sm text-lg">
                    A comprehensive overview of various transactions and financial reports for either business or personal finances. Its design exudes elegance and sophistication, giving it a luxurious appearance.
                </div>
            </div>
        </div>


    </div>





</div>