/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.lines-container {
    position: relative;
    height: 200px; /* Ajusta este valor según el espacio necesario para las líneas */
    width: 100%;
}

/* Definir las líneas */
.line {
    position: absolute;
    background-color: white; /* Cambia esto según el color que desees */
    width: 2px; /* Ancho de la línea */
    height: 20%; /* Ajusta la altura según necesites */
    z-index: 0;
}

/* Línea de GitHub */
.line.github {
    left: 10%; /* Ajusta la posición horizontal según necesites */
    top: 20%; /* Ajusta la posición vertical según necesites */
    animation: line-animation-github 2s linear infinite;
}

/* Línea de LinkedIn */
.line.linkedin {
    right: 10%; /* Ajusta la posición horizontal según necesites */
    top: 20%; /* Ajusta la posición vertical según necesites */
    animation: line-animation-linkedin 2s linear infinite;
}

/* Animaciones de las líneas */
@keyframes line-animation-github {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(350px); /* Ajusta el recorrido vertical según necesites */
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes line-animation-linkedin {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(350px); /* Ajusta el recorrido vertical según necesites */
    }
    100% {
        transform: translateY(0);
    }
}

/* Estilo para la bolita */
.ball {
    position: absolute;
    background-color: red; /* Cambia esto según el color que desees */
    border-radius: 50%; /* Hace que sea una bolita */
    width: 20px; /* Tamaño de la bolita */
    height: 20px; /* Tamaño de la bolita */
    top: 20%; /* Ajusta la posición vertical según necesites */
    animation: ball-animation 10s linear infinite;
    z-index: 1; /* Asegúrate de que la bolita esté encima de las líneas */
}

/* Animación de la bolita */
@keyframes ball-animation {
    0% {
        left: 10%;
        top: 20%;
    }
    25%{
        left: 89%;
        top: 50%;
    }
    50% {
        left: 10%;
        top: 70%;
    }
    75%{
        left: 89%;
        top: 40%;
    }
    100% {
        left: 10%;
        top: 20%;
    }
}

@layer utilities {
    .neon-border {
      border-radius: 1rem; /* Ajusta según sea necesario */
      box-shadow: 0 0 30px rgba(255, 0, 0, 1)
      , 0 0 30px rgba(255, 0, 0, 1)
      , 0 0 30px rgba(255, 0, 0, 1)
      ;
      pointer-events: none; /* Para que los eventos de mouse pasen a través del borde */
    }
  }